  
* {
    box-sizing: border-box;
}

.grid-container {
    width: 60%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3px;
}

.btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
    flex-wrap: wrap;

}

button {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 3px;
    border-radius: 5px;
    background: #717374;
    color: white;
    font-size: 1em;
}

input {
    display:block;
    width:20%;
    padding:10px;
    margin-top: 10px;
    margin-left: 80%;
    display:block;
    padding:10px;

  }
  input:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }